<ion-header class="header">
  <ion-toolbar class="dashboard-header">

    <div class="header-left">
      <div class="system-title">
        About HRCE Dept.
      </div>
    </div>

    <ion-buttons slot="end">
      <ion-button class="back-btn" (click)="goBack()">
        Back
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content [scrollY]="true" force-overscroll="false" fullscreen="false">

  <div class="about-container">

    <h2>
      About NIC,TN
    </h2>

    <hr class="horizontal-line">

    <p>NIC Tamil Nadu State Centre, providing consistent support to Government of Tamil Nadu, 
      Central Departments and PSUs situated in Tamil Nadu, in their endeavor to fully develop 
      e-governance solutions, specifically citizen centric solutions for the benefit of common man.</p>

    <p>NIC Tamil Nadu has provided NICNET connectivity, more importantly in recent days, 
      high speed National Knowledge Network (NKN) connectivity to IIT’s, various premier 
      Universities in Tamil Nadu, reputed Institutions of National importance for research purpose, 
      apart from Government of Tamil Nadu and Its State Data Centre Operations for day-to-day activities. </p>

    <p>NIC Tamil Nadu has got state Centers at TN Secretariat, Ezhilagam Complex and Headquarters at Rajaji Bhavan, Chennai 90, where Network Operations, Mini Data Centre and NKN centers are operational.
      NIC Tamil Nadu has got specialized divisions for Mobile Development and Open- Source Technology Group (OTC) for all open-source development & research activities across the country.
    </p>

    <p>In addition to the above, NIC TN units are in Public Information Bureau, Air / Sea Customs Port, JDGFT, Customs Coimbatore. NIC Districts Centers are at the 32 Districts headquarters, 
      taking care of District and grass root level Software requirements and activities.</p>

    <p>NIC Tamil Nadu has rolled out various projects for State Government which includes Land Records Computerization, Vahan-Sarathi, E-chalan for Regional Transport Office, Rural Development, 
      Local Body Elections, School Education Department including Attendance Monitoring for School Teachers, Examination Results, University activities, GIS applications, Social Welfare Schemes, 
      Pensioners Portal, Integrated Temple Management System for HR & CE Department, E-Office for the entire state administration. Tamil Nadu State Portal is developed and managed by NIC TN State Centre.</p>

    <p>The CIPA (Common Integrated Police Administration) software, for police department, is designed and developed to maintain the details pertaining to all the activities of the Police Stations relating to Crime and Criminals.
      NIC Tamil Nadu facilitates common Public Financial Management System (PFMS), E- office, software specialized for AG audit including GST and specific domain support for JDGFT, MEPZ & others. Government E-Procurement System of NIC (GePNIC), an internationally acclaimed, software application development center is at Chennai, taking care of all Government e- procurement system.
    </p>
    
    <h2>
      Hindu Religious & Charitable Endowments Department
    </h2>

    <hr class="horizontal-line">

    <p>
      ‘Tholkappiam’, the ancient Tamil work states that in the ancient the land of Tamils,
      situated between Venkadam hills in the north and Kumari (Kanyakumari) in the south,
      the gods Mayon (Vishnu) presiding deity for Mullai land (forests), Seyon
      (Murugan alias Subramaniar) presiding deity for Kurunji land (Hills),
      Vendan (Indran) presiding deity for Marutham land (Plain) and Varunan
      (Varuna) presiding deity for Mullai land (Sea) are worshipped.
    </p>

    <p>
      Based on this, the Department was to streamlined the administration of temples
      which stand as symbols of our cultural heritage and repositories of history.
    </p>

    <p>
      The temples have been under the superintendence and control of the Government
      even during days of the East India Company.
    </p>

    <p>
      The Hindu Temples have been in possession of thousands of Acres of lands since
      ancient times. Even during the times of East India Company, complaints were
      received regarding maladministration of these Temples. The general public lodged 
      complaints with the kings then and East India Company.
    </p>

    <p>
      In the meanwhile, the Madras regulation 1817 was enacted. This Act provided
      for monitoring whether the grants and endowments to temples were properly
      utilized or diverted for the welfare of private individuals.  The Board was empowered to carryout this exercise. 
      Due to this, thousands of temples were brought under the control of the Government.
    </p>

    <p>
      In 1858, the Indian Governments Administration was transferred to the British crown directly from the hands of the East India Company. 
      It was required for the British Government to win the confidence of the people and to reduce their illwill. 
      Hence, the British Government assured that it will not interfere in the religious matters. Hence, the persons who were 
      managing the affairs of the temples and their properties continue to enjoy them without any hindrance.
    </p>

    <p>
      Even though, large number of complaints was received, the British Government kept aloof from the temple administration 
      since they did not understand the complexity of the Indian society and the temple activities entwined with it. 
      At the same time, the people to continued to lodge complaints regarding mismanagement of valuable assets like icons, jewels, etc. 
      and encroachment of properties.
    </p>

    <p>
      When the Raja of Panagal, Thiru. Ramaraya Ningar took charge as the Chief Minister of the Madras Presidency he tried to bring 
      all the temples under the control of the Government. He proposed for enactment of Hindu Paripalanam Act in 1922.
      He explained the intricacies of the proposed bill to the then Viceroy, Lord Irwin, and got his approval. 
      Finally, in 1927 the Hindu Religious and Charitable Endowments Board was constituted. The Board was vested with the power to 
      control and supervise the administration of temple. Similarly, the power to appoint officials to temples for proper adminsitration was also vested with the Board.
    </p>

    <p>
      Subsequently to streamline the administration of the Board, a special officer
      was appointed in the year 1940.
    </p>

    <p>
      It was suggested in 1942 by the non-official committee under the chairmanship
      of a retired High Court Judge that it will be proper if the Government
      undertakes administration directly instead of the Board.It was accepted and the Hindu Religious and Charitable Endowments Act, 1951 was promulgated.
    </p>

    <p>
      Several amendments were brought out and the Government took over the
      administration of temples and after several detailed amendments were carried
      out, the Act XXII of 1959 came into force from 1st January 1960.
      Based on this Act, a seperate Government Department was d for the Administration of temples.
    </p>

  </div>

</ion-content>

<app-footer></app-footer>