<ion-header class="header">
  <ion-toolbar class="dashboard-header">

    <div class="header-left">
      <div class="system-title">
        Contact Details 
      </div>
    </div>

    <ion-buttons slot="end">
      <ion-button class="back-btn" (click)="goBack()">Back</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content  [scrollY]="false">

  <div class="contact-container">

  <div class="contact-header">
    Commissioner's Office
  </div>

  <div class="contact-card">

    <h2>
      Hindu Religious & Charitable Endowments Department
    </h2>

    <p>
      No. 119, Uthamar Gandhi Salai,  
      Nungambakkam, Chennai - 600034
    </p>

    <div class="contact-row">
      <span class="label">Contact Details :</span>
      <span>044 - 28339999</span>
    </div>

    <div class="contact-row">
      <span class="label">Tollfree No :</span>
      <span>1800-425-1757 (24 Hours Service)</span>
    </div>

    <div class="contact-row">
      <span class="label">Email :</span>
      <span>commr[dot]hrce[at]tn[dot]gov[dot]in</span>
    </div>

    <div class="contact-row">
      <span class="label">Technical Queries :</span>
      <span>spndpsec[dot]hrce[at]tn[dot]gov[dot]in</span>
    </div>

    <div class="visitor-time">

      <h3>
        <b>Commissioner Visitor's Time:</b>
      </h3>

      <p>
        Public / HR&CE Department / Temple Employees: <b>Tuesday to Friday • 03:00 P.M. to 04:00 P.M.</b>
      </p>

    </div>

  </div>

</div>

</ion-content>

<app-footer></app-footer>